section.form-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    align-items: center;
   
    box-shadow: 1rem 1rem 1rem 0rem rgba(0, 0, 0, 0.1) ;
    border-radius: 0.5rem;

    div.button-container {
        display: flex;
        width: 80%;
        
        button {
            width: 50%;
            border: transparent;
            background-color: var(--color_default_ligthBlue);
            transition: .5s ease-in-out;
            cursor: pointer;
        }
        
        button:hover {
            box-shadow: inset 0rem 5rem 0rem 0rem var(--color_default_white);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 80%;
        margin-bottom: 1rem;

        input:focus {
            outline:1px solid var(--color_default_ligthBlue);
        }

        button[type="submit"] {
            background-color: var(--color_default_darkBlue);
            color: var(--color_default_white);
            border-radius: 0.5rem;
            border: transparent;
            letter-spacing: 2px;
            transition: 0.6s ease-in-out;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            box-shadow: inset 0rem 10rem 0rem 0rem var(--color_default_white);
            color: var(--color_default_darkBlue);
        }
    }

    div.user-welcome {
        font-size: 1.4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        span {
            color: crimson;
            font-weight: bolder;
            letter-spacing: 1px;
        }
    }

    button, input {
        padding: 1rem;
    }
}