<header>
    <app-header></app-header>
    
    <div id="titleGCEPD-container">
        <app-category-title [categoryName]="'your GCEPD'"></app-category-title>
    </div>
</header>
    
<main>
    <section id="aside-category-container">
        <app-aside-category></app-aside-category>
    </section>


    <section id="product-cards-container">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </section>
</main>

<!-- <app-sign-up-form></app-sign-up-form> -->

<!-- <app-product-form></app-product-form> -->

<!-- <app-tutorial-form></app-tutorial-form> -->

