<header>
    <app-header></app-header>
    
    <div id="titleGCEPD-container">
        <app-category-title [categoryName]="'your GCEPD'"></app-category-title>
    </div>
</header>
    
<main>
    <section id="aside-category-container">
        <app-aside-category
        (emitCategory)="catchCategory($event)"
        ></app-aside-category>
    </section>


    <section id="stockPlus-container">
        <span class="category-name">{{category.name}}</span>

        <fieldset id="header-stockPlus">
            <legend>total data</legend>

            <div class="metric-container">
                <span class="numeric-span">{{totalProducts}}</span>
                <span>produtos</span>
            </div>
        
            <div class="metric-container">
                <span class="numeric-span">{{totalcosts}}$</span>
                <span>gastos totais</span>
            </div>
        
            <div class="metric-container">
                <span class="numeric-span">{{totalStock}}</span>
                <span>estoque total</span>
            </div>
        </fieldset>

        <div id="product-cards-container">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
    </section>
</main>

<!-- <app-sign-up-form></app-sign-up-form> -->

<!-- <app-product-form></app-product-form> -->

<!-- <app-tutorial-form></app-tutorial-form> -->

