header {
    margin-bottom: 1rem;
}

main {
    display: flex;
    padding: 1rem;
    gap: 1rem;

    section#aside-category-container {
        width: 30%;
    }

    section#product-cards-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
    }
}