<section id="generalPrimaryInfo-container">
    <div class="primary-card">
        <h3>total de produtos</h3>
        <span>{{totalProducts}}</span>
    </div>

    <div class="validity-card">
        <h3>produto com a menor validade</h3>
        <p>product name</p>
        <span>09/09/2024</span>
    </div>

    <div class="validity-card">
        <h3>produto com a maior validade</h3>
        <p>{{biggerValidity.product}}</p>
        <span>{{biggerValidity.numeric}}</span>
    </div>
</section>
