<aside>
    <section class="user-categories">
        <div *ngFor="let c of categoriesList">
            <a 
            [routerLink]="['category', c.id ]"
            >
            {{c.name}}
            </a>
            <button (click)="deleteCategory(c.id)" >
                <img src="../../../../../assets/trash.png" alt="trash icon">
            </button>
        </div>
    </section>

    <div class="inputToAddCategory">
        <input 
        type="text" 
        [(ngModel)]="inputValue"
        (blur)="addItenToList()"
        *ngIf="isInputVisible">
    </div>
</aside>

<div class="button-addCategory-container">
    <app-button-template
    [buttonName]="'new category'"
    [buttonFunction]="'new_category'"
    (showInput)="showInputToAddCategory($event)"
    ></app-button-template>
</div>