<header class="button-addCategory-container">
    <button 
    id="btn-add-category"
    #btnAddCategory
    (click)="showInputToAddCategory(true)"
    >
    <img *ngIf="buttonContent" src="../../../../../assets/plus.png" alt="plus icon">

    <span *ngIf="!buttonContent"> new category</span>
    </button>
    
    <div class="inputToAddCategory">
        <input 
        type="text" 
        [(ngModel)]="inputValue"
        (blur)="addItenToList()"
        *ngIf="isInputVisible">
    </div>
</header>

<aside>
    <button 
    (click)="scrollLeft()"
    id="scroll-left" 
    class="scroll-button"> < </button>

    <section class="user-categories" #userCategories>
        <a 
        *ngFor="let c of categoriesList"
        [routerLink]="['category', c.id ]"
        >
        {{c.name}}
        </a>
    </section>

    <button 
    (click)="scrollRigth()"
    id="scroll-rigth" 
    class="scroll-button"> > </button>
</aside>