menu {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    background-color: var(--color_default_darkBlue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 15vh;

    section.header-anchor {
       display: flex;
       gap: 1rem;

       li {
        list-style: none;
       }

       a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: var(--color_default_white);
       }
       
       a.left-links {
        font-size: 1rem;
       }

       a.rigth-links {
        border-radius: 0.5rem;
        transition: .5s ease-in-out;

        color: var(--color_default_black);
        background-color: var(--color_default_white);

        font-size:1rem;
        letter-spacing: 1px;

        padding: .4rem;
        padding-left: .7rem;
        padding-right: .7rem;
       }

       a.rigth-links:hover {
        box-shadow: inset 0rem 3rem 0rem 0rem var(--color_default_ligthBlue);
       }

       a.rigth-links:active, a.rigth-links:active {
        position: relative;
        top: 2px;
       }
    }
    

}