header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    background-color: var(--color_default_darkBlue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 15vh;
    
    section.header-links-container {
        menu {
            display: flex;
            list-style: none;
            gap: 1rem;
        }
        
        a {
            text-decoration: none;
            color: var(--color_default_white);
            letter-spacing: 1px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            transition: .2s ease-in-out;
            padding: .5rem;
        }

        a:hover {
            border-radius: .4rem;
            box-shadow: 10px 5px 8px 0px var(--color_default_black);
        }
    }
    
    section.header-button-container {
        display: flex;
        gap: 1rem;

        a {
            background-color: var(--color_default_white);
            color: var(--color_default_black);
            padding: .5rem;
            text-decoration: none;
            border-radius: .5rem;  
            transition: .4s ease-in-out;
        }

        a:hover {
            box-shadow: inset 5rem 5rem 0rem 0rem var(--color_default_ligthBlue);
        }

        a:active {
            
        }
    }
}