<header>
    <section class="header-links-container">
        <ul>
            <li><a href="">GCEPD</a></li>
            <li><a href="">Relatórios</a></li>
        </ul>
    </section>

    <section class="header-button-container">
        <app-button-template 
        [buttonName]="'sign-up'" 
        [buttonFunction]="'sign-up'" 
        ></app-button-template>

        <app-button-template 
        [buttonName]="'new product'" 
        [buttonFunction]="'new_product'"
        ></app-button-template>
    </section>
</header>
