@keyframes buttonAnimation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    100% { 
        transform: rotateZ(360deg);
    }
}



header.button-addCategory-container {
    display: flex;
    margin-bottom: .6rem;
    gap: 1rem;
    margin-left: 4%;

    button#btn-add-category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid var(--color_default_black);
        background-color: var(--color_default_darkBlue);
        transition: .4s ease-in-out;
        cursor: pointer;

        img {
            width: 30px;
        }

        span {
            color: var(--color_default_white);
            letter-spacing: 1px;
            text-transform: capitalize;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bolder;
        }
    }

    button#btn-add-category:hover {
        animation: buttonAnimation 2s infinite ;
    }

    div.inputToAddCategory {
        display: flex;
        align-items: center;
        width: 25%;

        input {
            width: 70%;
            border: transparent;
            border-bottom: 2px solid var(--color_default_black);
            padding: .3rem;
            outline: none;
        }
    }
}

aside {
    display: flex;
    height: 13vh;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;

    button.scroll-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        transition: .2s ease-in-out;
        border: transparent;
        font-size: 1.5rem;
    }

    button.scroll-button:hover {
        background-color: var(--color_default_ligthBlue);
    }


    section.user-categories {       
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;  
        height: 13vh;
        background-color: var(--color_default_mediumBlue);
        border-radius: 2rem;
        
            a {
                width: 80%;
                text-decoration: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: var(--color_default_white);
                margin-right: 1rem;
                transition: .2s ease-in-out;
                
                border-top: 2px solid var(--color_default_white);
                border-bottom: 2px solid var(--color_default_white);
                
                padding-bottom: 0.2rem; 
                padding-top: 0.2rem;
                padding-left: 1rem;
                padding-right: 1rem;
                
                position: relative;
                top: 30%;
                left: 2%;
            }

            a:hover {
                background-color: var(--color_default_white);
                color: var(--color_default_black);
                border-radius: 0.2rem;
            }
    }
}