section.button-container {
    display: flex;

    button {
        padding: .7rem;
        background-color: var(--color_default_ligthBlue);
        border-radius: .5rem;
        border: transparent;
        transition: 0.6s;
        cursor: pointer;
    }

    button:hover {
        box-shadow: inset 10rem 0rem 0rem 0rem var(--color_default_white);
    }

    button:active {
        position: relative;
        top: 1px;
    }
}