<section 
[ngStyle]="{'flex-direction': 
isalternativeStyle ? 
alternativeAlignStyle : 
defaultAlignStyle
}"
id="tertiaryInfo-container"
>
    <div id="principal-info">
        <h3>{{title}}</h3>
        <span>{{stringItens[0].value}}</span>
    </div>

    <div id="list-container">
        <button 
        id="scroll-left" 
        class="scroll-button"
        (click)="scrollDirection(1)"> < </button>

        <ul #unOrderList>
            <li *ngFor="let s of stringItens.slice(1)">
                <p>{{s.value}}<span class="span-number">{{s.count}}</span></p>
            </li>
        </ul>

        <button 
        id="scroll-rigth" 
        class="scroll-button"
        (click)="scrollDirection(2)"> > </button>
    </div> 

</section>
