section.card-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color_default_black);
   
    padding-top: 1rem;
    padding-bottom: 0px;
    border-radius: .5rem;
    gap: 1rem;

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--color_default_black);
        transition: .4s ease-in-out;
    }

    a:hover {
        box-shadow: 10px 10px 10px 0px var(--color_default_black);
    }

    h4, span.stock-quantity {
        background-color: var(--color_default_ligthBlue);
        border-radius: .4rem;
        padding: .5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
    }

    span.stock-quantity {
        text-align: center;
        align-self: flex-end;
        width: 20%;
    }

    header {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    figure {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }
}