* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

@keyframes topDownAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


:root {
    --color_default_white: #fff2ff;
    --color_default_black: #131313;
    --color_default_ligthBlue: #b3b4d4;
    --color_default_darkBlue: #494a66;
    --color_default_mediumBlue: #7376a0;
}