@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tauri&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

@keyframes topDownAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

:root {
    --color_default_white: #fff2ff;
    --color_default_black: #4b4b4b;
    --color_default_ligthBlue: #b3b4d4;
    --color_default_darkBlue: #494a66;
    --color_default_mediumBlue: #7376a0;
}